.headernav {
    display: flex;
    flex-flow: row;
    justify-content:space-evenly;
    align-items: center;
    background-color: black;
}
.headernav nav{
    width: 100%;
}
.list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
}
.list-item {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    background-color: black;
}
.list-item a {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
}